[2020-03-04 04:16] vlerenc opened #1 "Dummy"
/remove bug
/remove bug
/remove bug

[2020-03-04 05:00] vlerenc commented on #1
/cost

[2020-03-04 05:02] vlerenc commented on #1
/cost

[2020-03-04 05:21] vlerenc commented on #1
/stale

[2020-03-04 05:55] vlerenc commented on #1
/stale

[2020-03-04 05:57] vlerenc commented on #1
/cost

[2020-03-04 06:00] vlerenc commented on #1
/cost

[2020-03-04 06:02] vlerenc commented on #1
/cost

[2020-03-04 06:03] vlerenc opened #2 "k"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-03-04 06:04] #2 closed

[2020-03-06 04:13] vlerenc opened #3 "s"
**What would you like to be added**:

**Why is this needed**:

[2020-03-06 04:13] vlerenc opened #4 "g"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:

[2020-03-06 04:15] #3 closed

[2020-03-06 04:15] #4 closed

[2020-03-06 05:18] vlerenc commented on #1
/stale

[2020-05-11 12:41] vlerenc commented on #1
/kind/bug

[2020-05-11 12:42] vlerenc opened #5 "dd"
sfdf
/kind/discussion
sdfd

[2020-05-11 12:44] vlerenc opened #6 "ee"
sfdfrrr
/kind/discussion
sdfd
m

[2020-05-11 12:47] vlerenc commented on #6
ghg

[2020-05-12 03:34] vlerenc opened #7 "bl"
hbla
/kind/discussion
sdf

[2020-05-12 03:37] vlerenc opened #8 "jj"
hbla
/kind/discussion
sdf

[2020-05-12 03:37] vlerenc opened #9 "gdf"
la
/kind/discussion
sdf

[2020-05-12 03:38] #9 closed

[2020-05-12 03:45] #6 closed

[2020-05-12 03:45] #5 closed

[2020-05-12 03:45] #7 closed

[2020-05-12 03:45] #8 closed

[2020-05-12 03:45] vlerenc opened #10 "kk"
sfdfrrr
/size/xl
sdfd
m**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:

[2020-05-12 03:46] vlerenc commented on #10
sfdfrrr
/size/s
sdfd
m

[2020-05-12 05:37] #10 closed

[2020-05-12 09:12] vlerenc opened #11 "a"
/drop milestone 2020-q4
/expert
/lgtm
/xs
/critical

[2020-05-12 09:17] vlerenc commented on #11
/add milestone 2020-q4
/beginner
/do-not-merge
/xl
/normal
/mcm

[2020-05-12 09:19] #11 closed

[2020-05-12 14:56] vlerenc commented on #1
/reopen

[2020-05-14 05:37] vlerenc commented on #1
/cc @gardener-ci @gardener-botmanager @gardener-attic/team-botmanager
/unassign
/c

[2020-05-14 05:51] vlerenc commented on #1
/cc @gardener-ci @gardener-botmanager @gardener-attic/team-botmanager
/assign @vlerenc
/xs

[2020-05-14 07:48] vlerenc commented on #1
/reopen
/unassign @gardener-ci
/uncc @gardener-botmanager
/hold
/xl

[2020-05-14 09:01] rfranzke opened #15 "test"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:

/kind/bug
/area/networking
/priority/critical
/component/gardener
/platform/aws

/lgtm
/assign @vlerenc

[2020-05-14 09:05] rfranzke commented on #15
/lgtm
/assign @vlerenc

[2020-05-14 09:06] vlerenc commented on #15
/lgtm
/assign @vlerenc

[2020-05-14 09:08] vlerenc commented on #15
/reopen

[2020-05-14 09:16] rfranzke commented on #15
/kind/enhancement
/needs/rebase

[2020-05-14 09:21] vlerenc commented on #15
/remove kind enhancement
oder auch
/drop rebase
und tausend andere Kombinationen ;-)

Siehe https://github.wdf.sap.corp/kubernetes/github-botmanager/commit/c4c84c84648518f76d3f7d20b6271ebf0e148691

[2020-05-14 09:22] vlerenc commented on #15
/kind/enhancement
/needs/rebase

[2020-05-14 09:22] vlerenc commented on #15
/remove kind enhancement
oder auch
/drop rebase
und tausend andere Kombinationen ;-)

Siehe https://github.wdf.sap.corp/kubernetes/github-botmanager/commit/c4c84c84648518f76d3f7d20b6271ebf0e148691

[2020-05-14 09:24] rfranzke opened #16 "test2"
**What would you like to be added**:

**Why is this needed**:

/lgtm
/assign @vlerenc

[2020-05-14 09:24] rfranzke opened #17 "test3"
/kind/bug
/area/networking
/priority/critical
/component/gardener
/platform/aws

/lgtm
/assign @vlerenc

[2020-05-14 09:27] #15 closed

[2020-05-14 09:27] #16 closed

[2020-05-14 09:27] #17 closed

[2020-05-14 11:36] rfranzke opened #18 "test3"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:

/kind enhancement bug
/area logging monitoring

[2020-05-14 11:53] #18 closed

[2020-05-19 02:50] gardener-botmanager commented on #1
Command "add dashboard fdgfd fdgf" either unknown, wrongly parameterized or not permitted for issue/PR.

[2020-05-19 02:51] gardener-botmanager commented on #1
Command "/add dashboard fdgfd fdgf dfgf" either unknown, wrongly parameterized or not permitted for issue/PR.

[2020-05-19 02:51] gardener-botmanager commented on #1
Command "/add dashboard fdgfd fdgf dfgf" resulted in "NameError("name 'dfad' is not defined")".
<details>
[code]
</details>

[2020-05-19 02:55] gardener-botmanager commented on #1
Command "/add fgfd fdg fdgd f" either unknown, wrongly parameterized or not permitted for issue/PR.

[2020-05-19 02:55] gardener-botmanager commented on #1
Command "/add fgfd fdg fdgd f" resulted in NameError("name 'dfad' is not defined").
<details>
<summary>Call Stack</summary>

[code]
</details>

[2020-05-19 03:00] gardener-botmanager commented on #1
Command "/add fgfd fdg fdgd dsfd" either unknown, wrongly parameterized or not permitted for issue/PR.

[2020-05-19 03:00] gardener-botmanager commented on #1
Command "/add fgfd fdg fdgd dsfd" caused NameError("name 'dfad' is not defined").

public-attic
<details>
<summary>Call Stack</summary>

[code]
</details>

[2020-05-19 03:02] gardener-botmanager commented on #1
Command "/add fgfd fdg fdgd dsfd" caused NameError("name 'dfad' is not defined")." either unknown, wrongly parameterized or not permitted for issue/PR.

[2020-05-19 03:02] gardener-botmanager commented on #1
Command "/add fgfd fdg fdgd dsfd" caused NameError("name 'dfad' is not defined")." caused NameError("name 'dfad' is not defined").
<details>
<summary>Call Stack</summary>

[code]

[2020-05-19 03:06] gardener-botmanager commented on #1
Command "/add dashboard fdgfd fdgf" either unknown, wrongly parameterized or not permitted for issue/PR.

[2020-05-19 03:06] gardener-botmanager commented on #1
Redacted in Public. Check backend logs.
[code]

[2020-05-19 03:07] gardener-botmanager commented on #1
Command "/add dashboard fdgfd fdgf dsfdfd" either unknown, wrongly parameterized or not permitted for issue/PR.

[2020-05-19 03:07] gardener-botmanager commented on #1
Command "/add dashboard fdgfd fdgf dsfdfd" caused NameError("name 'dfad' is not defined").
<details>
<summary>Call Stack</summary>

[code]
</details>

[2020-05-19 07:55] rfranzke opened #21 "aa"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:

/kind enhancement
/lgtm
/assign
/cc @vlerenc
/hold

[2020-05-19 07:55] gardener-botmanager commented on #21
Only code owners are allowed to change labels or milestones. Authors may only add certain white-listed labels as part of the description such as `kind/*`, `priority/*`, `area/*`, `component/*`, `platform/*`.

[2020-05-19 07:55] gardener-botmanager commented on #21
Only code owners are allowed to change labels or milestones. Authors may only add certain white-listed labels as part of the description such as `kind/*`, `priority/*`, `area/*`, `component/*`, `platform/*`.

[2020-05-19 07:55] gardener-botmanager commented on #21
Command "/cc vlerenc " either unknown, wrongly parameterized or not permitted for issue/PR.

[2020-05-19 07:55] gardener-botmanager commented on #21
Command "/hold" either unknown, wrongly parameterized or not permitted for issue/PR.

[2020-05-19 07:56] gardener-botmanager commented on #21
Only code owners are allowed to change labels or milestones. Authors may only add certain white-listed labels as part of the description such as `kind/*`, `priority/*`, `area/*`, `component/*`, `platform/*`.

[2020-05-19 07:56] gardener-botmanager commented on #21
Only code owners are allowed to change labels or milestones. Authors may only add certain white-listed labels as part of the description such as `kind/*`, `priority/*`, `area/*`, `component/*`, `platform/*`.

[2020-05-19 07:56] gardener-botmanager commented on #21
Command "/cc vlerenc " either unknown, wrongly parameterized or not permitted for issue/PR.

[2020-05-19 07:56] gardener-botmanager commented on #21
Command "/hold" either unknown, wrongly parameterized or not permitted for issue/PR.

[2020-05-19 07:58] rfranzke commented on #21
/normal

[2020-05-19 07:58] gardener-botmanager commented on #21
Only code owners are allowed to change labels or milestones. Authors may only add certain white-listed labels as part of the description such as `kind/*`, `priority/*`, `area/*`, `component/*`, `platform/*`.

[2020-05-19 07:59] gardener-botmanager commented on #21
Only code owners are allowed to change labels or milestones. Authors may only add certain white-listed labels as part of the description such as `kind/*`, `priority/*`, `area/*`, `component/*`, `platform/*`.

[2020-05-19 07:59] gardener-botmanager commented on #21
Command "/cc vlerenc " either unknown, wrongly parameterized or not permitted for issue/PR.

[2020-05-19 07:59] gardener-botmanager commented on #21
Command "/hold" either unknown, wrongly parameterized or not permitted for issue/PR.

[2020-05-19 08:00] rfranzke commented on #21
/assign @vlerenc @rfranzke foo

[2020-05-19 08:00] gardener-botmanager commented on #21
Only code owners are allowed to change assignees. Commenters may only assign or unassign themselves (no args/users permitted).

[2020-05-19 08:00] rfranzke commented on #21
/close
foo

[2020-05-19 08:01] rfranzke commented on #21
/reopen
because it's still relevant

[2020-05-19 08:01] rfranzke commented on #1
/close

[2020-05-19 08:01] gardener-botmanager commented on #1
Only code owners and the author are allowed to close a ticket or PR.

[2020-05-19 08:01] rfranzke commented on #1
/assign

[2020-05-19 08:02] rfranzke commented on #1
/assign @vlerenc

[2020-05-19 08:02] gardener-botmanager commented on #1
Only code owners are allowed to change assignees. Commenters may only assign or unassign themselves (no args/users permitted).

[2020-05-19 08:02] rfranzke commented on #1
/unassign

[2020-05-19 08:02] rfranzke commented on #1
/assign @rfranzke

[2020-05-19 08:02] gardener-botmanager commented on #1
Only code owners are allowed to change assignees. Commenters may only assign or unassign themselves (no args/users permitted).

[2020-05-19 12:43] gardener-botmanager commented on #1
@vlerenc Command "/bark" failed with "TypeError('can only concatenate str (not "int") to str')".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-19 12:44] gardener-botmanager commented on #1
@vlerenc <img src="https://source.unsplash.com/collection/1120118/640x463">
<details>
<summary>[Message](https://github.com/gardener-attic/bot-test-repo-1/issues/1)</summary>

/bark

</details>

[2020-05-19 12:44] gardener-botmanager commented on #1
@gardener-botmanager <img src="https://source.unsplash.com/collection/1120118/640x430">
<details>
<summary>[Message](https://github.com/gardener-attic/bot-test-repo-1/issues/1)</summary>

@vlerenc <img src="https://source.unsplash.com/collection/1120118/640x463">

</details>

[2020-05-19 12:53] gardener-botmanager commented on #1
@vlerenc Command "/bark" failed with "TypeError('can only concatenate str (not "list") to str')".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-19 12:56] gardener-botmanager commented on #1
@vlerenc Hi there,
I am the Gardener bot and these are the commands I support:

Command                           | Authorised            | Description
--------------------------------- | --------------------- | -----------
`/add`&nbsp;label                 | Maintainer, Author    | Add label to issue or PR (default if no command is recognized); authors may only add certain white-listed labels (fu

[2020-05-19 12:56] gardener-botmanager commented on #1
@vlerenc Hi there, I am the Gardener bot and these are the commands I support:

Command                           | Authorised            | Description
--------------------------------- | --------------------- | -----------
`/add`&nbsp;label                 | Maintainer, Author    | Add label to issue or PR (default if no command is recognized); authors may only add certain white-listed labels (fu

[2020-05-19 12:57] gardener-botmanager commented on #1
@vlerenc Hi there, I am the Gardener bot and these are the commands I support:

Command                           | Authorised            | Description
--------------------------------- | --------------------- | -----------
`/add`&nbsp;label                 | Maintainer, Author    | Add label to issue or PR (default if no command is recognized); authors may only add certain white-listed labels (fu

[2020-05-19 13:00] gardener-botmanager commented on #1
@vlerenc :information_source: Hi there, I am the Gardener bot :robot: and these are the commands I support:

Command                           | Authorised            | Description
--------------------------------- | --------------------- | -----------
`/add`&nbsp;label                 | Maintainer, Author    | Add label to issue or PR (default if no command is recognized); authors may only add ce

[2020-05-19 13:00] gardener-botmanager commented on #1
@vlerenc :information_source: Hi there, I am the Gardener bot :robot: and these are the commands I support:

Command                           | Authorised            | Description
--------------------------------- | --------------------- | -----------
`/add`&nbsp;label                 | Maintainer, Author    | Add label to issue or PR (default if no command is recognized); authors may only add ce

[2020-05-19 13:00] gardener-botmanager commented on #1
@vlerenc :information_source: Hi there, I am the Gardener bot :robot: and these are the commands I support:

Command                           | Authorised            | Description
--------------------------------- | --------------------- | -----------
`/add`&nbsp;label                 | Maintainer, Author    | Add label to issue or PR (default if no command is recognized); authors may only add ce

[2020-05-19 13:00] gardener-botmanager commented on #1
@vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x344">
<details>
<summary>Message</summary>

</details>

[2020-05-19 13:00] gardener-botmanager commented on #1
@vlerenc
<img src="https://source.unsplash.com/collection/981639/640x442">
<details>
<summary>Message</summary>

</details>

[2020-05-19 13:00] gardener-botmanager commented on #1
@vlerenc
<img src="https://source.unsplash.com/collection/1525582/640x505">
<details>
<summary>Message</summary>

</details>

[2020-05-19 13:00] gardener-botmanager commented on #1
@vlerenc
<img src="https://source.unsplash.com/collection/1128093/640x401">
<details>
<summary>Message</summary>

</details>

[2020-05-19 13:03] gardener-botmanager commented on #1
@vlerenc, @vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x338">
<details>
<summary>Message</summary>

</details>

[2020-05-19 13:06] vlerenc opened #23 "New Features"
Deploying now new features:
https://concourse.ci.gardener.cloud.sap/teams/gardener/pipelines/github-botmanager-master/jobs/master-head-update-job/builds/47

/help
/bark @vlerenc @rfranzke @ialidzhikov

[2020-05-19 13:06] gardener-botmanager commented on #23
@vlerenc :information_source: Hi there, I am the Gardener bot :robot: and these are the commands I support:

Command                           | Authorised            | Description
--------------------------------- | --------------------- | -----------
`/add`&nbsp;label                 | Maintainer, Author    | Add label to issue or PR (default if no command is recognized); authors may only add ce

[2020-05-19 13:06] gardener-botmanager commented on #23
@vlerenc, @rfranzke, @ialidzhikov
<img src="https://source.unsplash.com/collection/1120118/640x415">
<details>
<summary>Message</summary>

</details>

[2020-05-19 13:15] #21 closed

[2020-05-19 13:23] #23 closed

[2020-05-19 14:50] vlerenc opened #24 "a"
**How to categorize this PR?**
/area container-runtimes
/kind bug
/priority normal

**What this PR does / why we need it**:

Currently Gardener has a bug when a Shoot has multiple worker pools with a container runtime enabled.
This writes the correct worker pool name into the ContainerRuntime CRD.

**Which issue(s) this PR fixes**:
Fixes #

**Special notes for your reviewer**:

**Release note**:

[2020-05-19 14:52] #24 closed

[2020-05-19 15:11] gardener-botmanager commented on #1
@vlerenc
<img src="https://source.unsplash.com/collection/1525582/640x387">
<details>
<summary>Message</summary>

</details>

[2020-05-21 13:25] vlerenc opened #26 "a"
How to categorize this issue?
/area robustness
/area monitoring
/area operations
/kind bug
/priority normal

What happened:
We see alerts that the gardenlet condition flaps, caused by the gardenlet losing leader election.

[2020-05-21 13:26] vlerenc opened #27 "b"
How to categorize this issue?
/area robustness
/area monitoring
/area operations
/kind bug
/priority normal

What happened:
We see alerts that the gardenlet condition flaps, caused by the gardenlet losing leader election.

[2020-05-21 13:26] vlerenc opened #28 "c"
How to categorize this issue?
/area robustness
/area monitoring
/area operations
/kind bug
/priority normal

What happened:
We see alerts that the gardenlet condition flaps, caused by the gardenlet losing leader election.

[2020-05-21 13:29] #26 closed

[2020-05-21 13:29] #27 closed

[2020-05-21 13:30] #28 closed

[2020-05-21 13:59] gardener-botmanager commented on #1
@vlerenc Command "/remove bug" failed with "Label does not exist".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-21 13:59] gardener-botmanager commented on #1
@vlerenc Command "/remove bug" failed with "Label does not exist".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-21 14:04] vlerenc commented on #1
/bug
/bug
/bug

/jhsfgadhj
/jhsfgadhj
/jhsfgadhj

[2020-05-21 14:05] vlerenc commented on #1
/remove bug
/remove bug

/remove dhsfgdashjf
/remove dhsfgdashjf

[2020-05-21 14:05] gardener-botmanager commented on #1
@vlerenc Command "/remove bug" failed with "Label does not exist".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-21 14:31] vlerenc commented on #1
/add ghhjhj
/remove dfdsf
/set milestone sdkjfhdskf
/unset milestone sdkjfhdskf
/dsfjhgdj

[2020-05-21 14:31] gardener-botmanager commented on #1
@vlerenc Label "/ghhjhj" does not exist for this repository.

[2020-05-21 14:31] gardener-botmanager commented on #1
@vlerenc Milestone "/sdkjfhdskf" does not exist for this repository.

[2020-05-21 14:31] gardener-botmanager commented on #1
@vlerenc Label "/dsfjhgdj" does not exist for this repository.

[2020-05-21 14:50] vlerenc commented on #1
/add aaa
/add bug
/add bug

[2020-05-21 14:50] gardener-botmanager commented on #1
@vlerenc Label "/aaa" does not exist for this repository.

[2020-05-21 14:50] vlerenc commented on #1
/remove rrr
/remove bug
/remove bug

[2020-05-21 14:50] gardener-botmanager commented on #1
@vlerenc Label "/rrr" does not exist for this repository.

[2020-05-21 14:51] vlerenc commented on #1
/set milestone qqq
/set milestone 2021-q4
/set milestone 2021-q4

[2020-05-21 14:51] gardener-botmanager commented on #1
@vlerenc Milestone "/qqq" does not exist for this repository.

[2020-05-21 14:52] vlerenc commented on #1
/unset milestone qqq
/unset milestone 2021-q4
/unset milestone 2021-q4

[2020-05-21 18:36] vlerenc commented on #1
/unset milestone
/unset milestone

[2020-05-21 18:36] vlerenc commented on #1
/2021-q1

[2020-05-21 18:36] vlerenc commented on #1
/2021-q1

[2020-05-21 18:36] vlerenc commented on #1
/remove milestone
/remove milestone

[2020-05-21 18:37] vlerenc commented on #1
/2021-q1

[2020-05-21 18:37] vlerenc commented on #1
/remove 2021-q1

[2020-05-21 18:37] vlerenc commented on #1
/2021-q1
/2021-q1

[2020-05-21 18:37] vlerenc commented on #1
/remove 2021-q1
/remove 2021-q1

[2020-05-21 18:38] vlerenc commented on #1
/remove 2021-q12021-q1

[2020-05-21 18:38] gardener-botmanager commented on #1
@vlerenc Label "2021-q12021-q1" does not exist for this repository.

[2020-05-23 14:31] vlerenc commented on #1
/bark

[2020-05-23 14:31] gardener-botmanager commented on #1
@vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x556">
<details>
<summary>Message</summary>

</details>

[2020-05-24 06:47] vlerenc commented on #1
/dummy

[2020-05-24 06:47] gardener-botmanager commented on #1
@vlerenc Label "dummy" does not exist for this repository.

[2020-05-24 06:59] vlerenc commented on #1
/dummy

[2020-05-24 06:59] gardener-botmanager commented on #1
@vlerenc Label "dummy" does not exist for this repository.

[2020-05-24 07:01] vlerenc commented on #1
/dummy

[2020-05-24 07:02] gardener-botmanager commented on #1
@vlerenc Label "dummy" does not exist for this repository.

[2020-05-24 07:05] vlerenc commented on #1
/dummy

[2020-05-24 07:05] gardener-botmanager commented on #1
@vlerenc Label "dummy" does not exist for this repository.

[2020-05-24 07:10] vlerenc commented on #1
/dummy

[2020-05-24 07:10] gardener-botmanager commented on #1
@vlerenc Label "dummy" does not exist for this repository.

[2020-05-24 07:14] vlerenc commented on #1
/dummy

[2020-05-24 07:14] gardener-botmanager commented on #1
@vlerenc Label "dummy" does not exist for this repository.

[2020-05-24 07:16] vlerenc commented on #1
/dummy

[2020-05-24 07:16] gardener-botmanager commented on #1
@vlerenc Sure, if you insist, I can call you a dummy.

[2020-05-24 07:16] gardener-botmanager commented on #1
@vlerenc Label "dummy" does not exist for this repository.

[2020-05-24 07:16] vlerenc commented on #1
/cla

[2020-05-24 07:16] gardener-botmanager commented on #1
@vlerenc Command "/cla" failed with "KeyError('pull-request')".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-24 07:16] gardener-botmanager commented on #1
@vlerenc Label "cla" does not exist for this repository.

[2020-05-24 13:34] vlerenc commented on #1
/dummy

[2020-05-24 13:35] gardener-botmanager commented on #1
@vlerenc Command "/dummy" failed with "TypeError('isinstance() arg 2 must be a type or tuple of types')".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-24 13:35] gardener-botmanager commented on #1
@vlerenc Label "dummy" does not exist for this repository.

[2020-05-24 13:35] vlerenc commented on #1
/cla

[2020-05-24 13:35] gardener-botmanager commented on #1
@vlerenc Command "/cla" failed with "TypeError('isinstance() arg 2 must be a type or tuple of types')".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-24 13:35] gardener-botmanager commented on #1
@vlerenc Label "cla" does not exist for this repository.

[2020-05-24 13:37] vlerenc commented on #1
/dummy

[2020-05-24 13:37] gardener-botmanager commented on #1
@vlerenc Command "/dummy" failed with "TypeError('isinstance() arg 2 must be a type or tuple of types')".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-24 13:37] gardener-botmanager commented on #1
@vlerenc Label "dummy" does not exist for this repository.

[2020-05-24 13:39] vlerenc commented on #1
/dummy

[2020-05-24 13:39] gardener-botmanager commented on #1
@vlerenc Sure, if you insist, I can call you a dummy.

[2020-05-24 13:39] gardener-botmanager commented on #1
@vlerenc Label "dummy" does not exist for this repository.

[2020-05-24 13:43] vlerenc commented on #1
/dummy

[2020-05-24 13:43] gardener-botmanager commented on #1
@vlerenc Sure, if you insist, I can call you a dummy.

[2020-05-24 13:49] vlerenc commented on #1
/dummy

[2020-05-24 13:49] gardener-botmanager commented on #1
@vlerenc Sure, if you insist, I can call you a dummy.

[2020-05-24 13:51] vlerenc commented on #1
/dummy

[2020-05-24 13:51] gardener-botmanager commented on #1
@vlerenc Sure, if you insist, I can call you a dummy.

[2020-05-24 13:58] vlerenc commented on #1
/cla

[2020-05-24 13:58] gardener-botmanager commented on #1
@vlerenc Command "/cla" failed with "TypeError('sequence item 0: expected str instance, type found')".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-24 14:01] vlerenc commented on #1
/cla

[2020-05-24 14:01] gardener-botmanager commented on #1
@vlerenc Command /cla is not allowed for Issue but only for PullRequest

[2020-05-24 14:02] vlerenc commented on #1
/cla

[2020-05-24 14:02] gardener-botmanager commented on #1
@vlerenc Command /cla is not allowed for Issue but only for pullrequest

[2020-05-24 15:04] vlerenc commented on #1
/assign

[2020-05-24 15:04] vlerenc commented on #1
/unassign

[2020-05-24 15:04] gardener-botmanager commented on #1
@vlerenc Command /unassign is not known.

[2020-05-25 03:31] vlerenc commented on #1
/help

[2020-05-25 03:31] gardener-botmanager commented on #1
@vlerenc Command "/help" failed with "AttributeError("type object 'AssignCommand' has no attribute 'synopsis'")".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-25 03:32] vlerenc commented on #1
/help

[2020-05-25 03:32] gardener-botmanager commented on #1
@vlerenc Command "/help" failed with "IndexError('list assignment index out of range')".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-25 03:33] vlerenc commented on #1
/help

[2020-05-25 03:33] gardener-botmanager commented on #1
@vlerenc Command "/help" failed with "IndexError('list assignment index out of range')".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-25 03:35] vlerenc commented on #1
/help

[2020-05-25 03:36] gardener-botmanager commented on #1
@vlerenc Command "/help" failed with "AttributeError("type object 'AssignCommand' has no attribute 'description'")".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-25 03:36] vlerenc commented on #1
/help

[2020-05-25 03:36] gardener-botmanager commented on #1
@vlerenc Command "/help" failed with "NameError("name 'name' is not defined")".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-25 03:37] vlerenc commented on #1
/help

[2020-05-25 03:37] gardener-botmanager commented on #1
@vlerenc Command "/help" failed with "TypeError('can only concatenate str (not "NoneType") to str')".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-25 03:39] vlerenc commented on #1
/help

[2020-05-25 03:39] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Manpage</summary>

| Synopsis | Who | What | Description & Examples |
|:----|:----|:----|:----|
|/assign&nbsp;[@user...]|Maintainer,<br/>Commenter|Issue,<br/>PullRequest|Assign given people (or yourself if none specified) to issue or PR; commenters may only assign themselves.

Examples:
* /assign
* /assign @johndoe @janedoe||/unassign&nbsp;[@us

[2020-05-25 03:45] vlerenc commented on #1
/help

[2020-05-25 03:45] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Manpage</summary>

| Synopsis | Who & What | Description & Examples |
|:----|:----|:----|:----|
|/assign&nbsp;[@user...]|Issue,<br/>PullRequest<br/>by<br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR; commenters may only assign themselves.<br/>Examples:<br/>* /assign<br/>* /assign&nbsp;@johndoe&nb

[2020-05-25 03:49] vlerenc commented on #1
/help

[2020-05-25 03:49] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Manpage</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|/assign&nbsp;[@user...]|Issue,<br/>PullRequest<br/>by<br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR; commenters may only assign themselves.<br/>Examples:<br/>* /assign<br/>* /assign&nb

[2020-05-25 03:52] vlerenc commented on #1
`f&nbsp;tre`

[2020-05-25 03:52] vlerenc commented on #1
/help

[2020-05-25 03:52] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Manpage</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|/assign&nbsp;[@user...]|Issue,<br/>PullRequest<br/>by<br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR; commenters may only assign themselves.<br/>Examples:<br/>- `/assign`<br/>- `/assign

[2020-05-25 03:57] vlerenc commented on #1
/help

[2020-05-25 03:57] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Manpage</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign [@user...]`|Issue,<br/>PullRequest<br/><sub>by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR; commenters may only assign themselves.<br/>Examples:<br/>- `/assign`<br/>-

[2020-05-25 04:15] vlerenc commented on #1
/help

[2020-05-25 04:15] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Manpage</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|/assign&nbsp;[@user...]|Issue,<br/>PullRequest<br/><sub>by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR; commenters may only assign themselves.<br/>Examples:<br/>- `/assign`<br/

[2020-05-25 04:19] vlerenc commented on #1
/help

[2020-05-25 04:19] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Manpage</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|/assign&nbsp;[@user...]|<sub>Applicable to</sub><br/>Issue,<br/>PullRequest<br/><sub>by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR; commenters may only assign themselves.<br/>

[2020-05-25 04:25] vlerenc commented on #1
/help

[2020-05-25 04:25] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|/assign&nbsp;[@user...]|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR; commenters may only assign themselves.<b

[2020-05-25 04:27] vlerenc commented on #1
/help

[2020-05-25 04:27] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR; commenters may only assign themselve

[2020-05-25 04:28] vlerenc commented on #1
/unassign

[2020-05-25 04:28] vlerenc commented on #1
/assign vlerenc

[2020-05-25 04:29] vlerenc commented on #1
/unassign @vlerenc

[2020-05-25 05:21] vlerenc commented on #1
/help

[2020-05-25 05:22] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR; commenters may only assign themselve

[2020-05-25 06:17] vlerenc commented on #1
/help

[2020-05-25 06:17] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR; commenters may only assign themselve

[2020-05-25 06:42] vlerenc commented on #1
/help

[2020-05-25 06:42] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR; commenters may only assign themselve

[2020-05-25 06:48] vlerenc commented on #1
/help

[2020-05-25 06:48] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-25 06:52] vlerenc commented on #1
/help

[2020-05-25 06:52] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-25 09:12] vlerenc commented on #1
/hi

[2020-05-25 09:12] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-25 09:13] vlerenc commented on #1
/rtfm

[2020-05-25 09:13] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-25 10:24] vlerenc commented on #1
/rtfm

[2020-05-25 10:24] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-25 10:26] vlerenc commented on #1
/help

[2020-05-25 10:26] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-25 10:28] vlerenc commented on #1
/hi

[2020-05-25 10:28] gardener-botmanager commented on #1
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 05:16] vlerenc opened #30 "d"
/assign

[2020-05-27 05:17] vlerenc commented on #30
/assign

[2020-05-27 05:22] vlerenc opened #31 "doof"
/title
/title doof
/assign @vlerenc

[2020-05-27 05:22] gardener-botmanager commented on #31
@vlerenc Command /title lacks new title.

[2020-05-27 05:22] gardener-botmanager commented on #31
@gardener-botmanager Command /title lacks new title.

[2020-05-27 05:22] gardener-botmanager commented on #31
@gardener-botmanager Only code owners and the author may retitle an issue or PR.

[2020-05-27 05:22] gardener-botmanager commented on #31
@gardener-botmanager Only code owners may change assignees. Commenters may only assign themselves.

[2020-05-27 05:26] vlerenc opened #32 "sdfdsafd"
/title
/title doof
/assign @vlerenc
ddd

[2020-05-27 06:11] vlerenc opened #33 "doof"
/title
/title doof
/assign @vlerenc

[2020-05-27 06:11] gardener-botmanager commented on #33
@vlerenc Command /title lacks new title.

[2020-05-27 06:13] vlerenc commented on #33
/kind enhancement

[2020-05-27 06:13] gardener-botmanager commented on #33
@vlerenc Label kind/enhancement does not exist.

[2020-05-27 06:15] vlerenc commented on #33
/kind discussion enhancement

[2020-05-27 06:15] vlerenc commented on #33
/hold
/lgtm

[2020-05-27 06:15] gardener-botmanager commented on #33
@vlerenc Removing labels reviewed/do-not-merge, reviewed/lgtm failed with "TypeError('remove_from_labels() takes 2 positional arguments but 3 were given')".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-27 06:16] vlerenc commented on #33
/kind discussion enhancement bug

[2020-05-27 06:17] vlerenc commented on #33
/kind discussion enhancement epic

[2020-05-27 06:45] vlerenc commented on #33
/hold
/lgtm

[2020-05-27 06:45] vlerenc commented on #33
/lgtm

[2020-05-27 06:46] vlerenc commented on #33
/hold

[2020-05-27 12:39] vlerenc commented on #33
/remove do-not-merge
/unhold

[2020-05-27 12:39] vlerenc commented on #33
/remove hh

[2020-05-27 12:40] gardener-botmanager commented on #33
@vlerenc Label hh does not exist.

[2020-05-27 12:40] vlerenc commented on #33
/remove kind ggdfd sdfsd fsdf sdf sdf d

[2020-05-27 12:40] gardener-botmanager commented on #33
@vlerenc Labels kind/sdf, kind/d, kind/fsdf, kind/ggdfd, kind/sdfsd do not exist.

[2020-05-27 12:40] vlerenc commented on #33
/remove kind aa, bb cc, bug, dd

[2020-05-27 12:41] gardener-botmanager commented on #33
@vlerenc Labels kind/bug,, kind/cc,, kind/aa,, kind/dd, kind/bb do not exist.

[2020-05-27 12:43] gardener-botmanager commented on #33
@vlerenc Labels kind/aa, kind/dd, kind/bb, kind/cc, kind/ee do not exist.

[2020-05-27 14:46] vlerenc commented on #33
/help

[2020-05-27 14:46] gardener-botmanager commented on #33
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 14:59] vlerenc opened #34 "foo bar"
/assign
/assign @vlerenc, vlerenc
/assign @foo @bar

/cla
/cla foo

/help
/help foo

/add kind/epic kind/foo1
/add kind/poc, kind/foo2
/add kind task foo3
/add kind test, foo4
/kind/regression kind/foo5
/kind/impediment, kind/foo6
/kind cleanup foo7
/kind question, foo8
/xl

/hold
/hold foo

/lifecycle icebox stale rotten
/close
/close foo
/reopen
/reopen foo

/plan 2021-q4
/plan
/plan foo
/plan 2

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc Command /cla is not allowed for issue but only for pullrequest.

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc Command /cla is not allowed for issue but only for pullrequest.

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc Command /kind/impediment, is not known.

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc Command /hold does not have any arguments.

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc Command /close does not have any arguments.

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc Command /reopen does not have any arguments.

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc Command "/plan 2021-q4" failed with "AssertionError('2021-q4')".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc Command /plan lacks new milestone.

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc Command /plan called with unknown milestone.

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc Command /plan has too many arguments, but requires exactly one, the new milestone.

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc
<img src="https://source.unsplash.com/collection/981639/640x632">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc, @vlerenc
<img src="https://source.unsplash.com/collection/981639/640x428">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:00] gardener-botmanager commented on #34
@foo, @bar
<img src="https://source.unsplash.com/collection/981639/640x523">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x590">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc, @vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x592">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:00] gardener-botmanager commented on #34
@foo, @bar
<img src="https://source.unsplash.com/collection/1120118/640x515">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc Command /title lacks new title.

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 15:00] gardener-botmanager commented on #34
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 15:20] vlerenc commented on #34
/stale

[2020-05-27 15:20] vlerenc commented on #34
/icebox

[2020-05-27 15:20] vlerenc commented on #34
/lifecycle icebox stale rotten

[2020-05-27 15:21] vlerenc opened #35 "foo bar"
/assign
/assign @vlerenc, vlerenc
/assign @foo @bar

/cla
/cla foo

/help
/help foo

/add kind/epic kind/foo1
/add kind/poc, kind/foo2
/add kind task foo3
/add kind test, foo4
/kind/regression kind/foo5
/kind/impediment, kind/foo6
/kind cleanup foo7
/kind question, foo8
/xl

/hold
/hold foo

/lifecycle icebox rotten
/close
/close foo
/reopen
/reopen foo

/plan 2021-q4
/plan
/plan foo
/plan 2021-q3

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc Command /cla is not allowed for issue but only for pullrequest.

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc Command /cla is not allowed for issue but only for pullrequest.

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc Command /kind/impediment, is not known.

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc Command /hold does not have any arguments.

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc Command /close does not have any arguments.

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc Command /reopen does not have any arguments.

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc Command "/plan 2021-q4" failed with "AssertionError('2021-q4')".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc Command /plan lacks new milestone.

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc Command /plan called with unknown milestone.

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc Command /plan has too many arguments, but requires exactly one, the new milestone.

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc
<img src="https://source.unsplash.com/collection/981639/640x633">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc, @vlerenc
<img src="https://source.unsplash.com/collection/981639/640x582">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:22] gardener-botmanager commented on #35
@foo, @bar
<img src="https://source.unsplash.com/collection/981639/640x479">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x556">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc, @vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x564">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:22] gardener-botmanager commented on #35
@foo, @bar
<img src="https://source.unsplash.com/collection/1120118/640x569">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc Command /title lacks new title.

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 15:22] gardener-botmanager commented on #35
@vlerenc Labels kind/foo1, kind/foo2, kind/foo3, kind/foo4, kind/foo5, kind/foo7, kind/foo8 do not exist.

[2020-05-27 15:25] #1 closed

[2020-05-27 15:25] #30 closed

[2020-05-27 15:25] #31 closed

[2020-05-27 15:25] #32 closed

[2020-05-27 15:25] #33 closed

[2020-05-27 15:25] #34 closed

[2020-05-27 15:25] #35 closed

[2020-05-27 15:25] vlerenc opened #37 "foo bar"
/assign
/assign @vlerenc, vlerenc
/assign @foo @bar

/cla
/cla foo

/help
/help foo

/add kind/epic kind/foo1
/add kind/poc, kind/foo2
/add kind task foo3
/add kind test, foo4
/kind/regression kind/foo5
/kind/impediment, kind/foo6
/kind cleanup foo7
/kind question, foo8
/xl

/hold
/hold foo

/lifecycle icebox rotten
/close
/close foo
/reopen
/reopen foo

/plan 2021-q4
/plan
/plan foo
/plan 2021-q3

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc Command /cla is not allowed for issue but only for pullrequest.

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc Command /cla is not allowed for issue but only for pullrequest.

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc Command /hold does not have any arguments.

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc Command /close does not have any arguments.

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc Command /reopen does not have any arguments.

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc Command "/plan 2021-q4" failed with "AssertionError('2021-Q4')".
<details>
<summary>Additional Information</summary>

[code]
</details>

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc Command /plan lacks new milestone.

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc Command /plan called with unknown milestone.

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc Command /plan has too many arguments, but requires exactly one, the new milestone.

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc
<img src="https://source.unsplash.com/collection/981639/640x394">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc, @vlerenc
<img src="https://source.unsplash.com/collection/981639/640x549">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:25] gardener-botmanager commented on #37
@foo, @bar
<img src="https://source.unsplash.com/collection/981639/640x543">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x325">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc, @vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x497">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:25] gardener-botmanager commented on #37
@foo, @bar
<img src="https://source.unsplash.com/collection/1120118/640x388">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc Command /title lacks new title.

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 15:25] gardener-botmanager commented on #37
@vlerenc Labels kind/foo1, kind/foo2, kind/foo3, kind/foo4, kind/foo5, kind/foo6, kind/foo7, kind/foo8 do not exist.

[2020-05-27 15:31] bar commented on #34
@vlerenc can you please stop using my handle? I'm getting quite a lot of notifications :) thanks!

[2020-05-27 15:37] vlerenc commented on #34
@bar Oh, I am very, very sorry. I completely didn't consider that. Sure, will do.

[2020-05-27 15:40] bar commented on #34
no worries!

[2020-05-27 15:41] vlerenc commented on #34
/plan 2021-q3

[2020-05-27 15:49] #37 closed

[2020-05-27 15:50] vlerenc opened #40 "New Title"
/assign
/assign @gardener-botmanager, @gardener-ci
/assign @fooimpossiblenamethatnobodyhasperiod @barimpossiblenamethatnobodyhasperiod
/unassign
/unassign @vlerenc, vlerenc
/unassign @fooimpossiblenamethatnobodyhasperiod @barimpossiblenamethatnobodyhasperiod

/cla
/cla foo

/help
/help foo

/remove kind/epic kind/discussion kind/foo1
/remove kind/poc, kind/discussion, kind/foo2
/remove kind task d

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc Command /cla is not allowed for issue but only for pullrequest.

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc Command /cla is not allowed for issue but only for pullrequest.

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc Command /hold does not have any arguments.

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc Command /close does not have any arguments.

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc Command /reopen does not have any arguments.

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc Command /plan lacks new milestone.

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc Command /plan called with unknown milestone.

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc Command /plan has too many arguments, but requires exactly one, the new milestone.

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc
<img src="https://source.unsplash.com/collection/981639/640x405">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc, @vlerenc
<img src="https://source.unsplash.com/collection/981639/640x356">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:50] gardener-botmanager commented on #40
@fooimpossiblenamethatnobodyhasperiod, @barimpossiblenamethatnobodyhasperiod
<img src="https://source.unsplash.com/collection/981639/640x411">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x500">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc, @vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x548">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:50] gardener-botmanager commented on #40
@fooimpossiblenamethatnobodyhasperiod, @barimpossiblenamethatnobodyhasperiod
<img src="https://source.unsplash.com/collection/1120118/640x389">
<details>
<summary>Message</summary>

</details>

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc Command /title lacks new title.

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 15:50] gardener-botmanager commented on #40
@vlerenc Labels kind/foo1, kind/foo2, kind/foo3, kind/foo4, kind/foo5, kind/foo6, kind/foo7, kind/foo8 do not exist.

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc Command /cla is not allowed for issue but only for pullrequest.

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc Command /cla is not allowed for issue but only for pullrequest.

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc Command /unhold does not have any arguments.

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc Command /lgtm does not have any arguments.

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc Command /touch does not have any arguments.

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc Command /unplan does not have any arguments.

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc
<img src="https://source.unsplash.com/collection/981639/640x547">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc, @vlerenc
<img src="https://source.unsplash.com/collection/981639/640x357">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:08] gardener-botmanager commented on #40
@fooimpossiblenamethatnobodyhasperiod, @barimpossiblenamethatnobodyhasperiod
<img src="https://source.unsplash.com/collection/981639/640x414">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x439">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc, @vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x393">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:08] gardener-botmanager commented on #40
@fooimpossiblenamethatnobodyhasperiod, @barimpossiblenamethatnobodyhasperiod
<img src="https://source.unsplash.com/collection/1120118/640x429">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc Command /title lacks new title.

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc Command /uninvite is not allowed for issue but only for pullrequest.

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc Command /uninvite is not allowed for issue but only for pullrequest.

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc Command /uninvite is not allowed for issue but only for pullrequest.

[2020-05-27 16:08] gardener-botmanager commented on #40
@vlerenc Labels kind/foo1, kind/foo2, kind/foo3, kind/foo4 do not exist.

[2020-05-27 16:12] vlerenc commented on #40
/assign
/assign @vlerenc, vlerenc
/assign @fooimpossiblenamethatnobodyhasperiod @barimpossiblenamethatnobodyhasperiod

/cla
/cla foo

/help
/help foo

/add kind/epic kind/foo1
/add kind/poc, kind/foo2
/add kind task foo3
/add kind test, foo4
/kind/regression kind/foo5
/kind/impediment, kind/foo6
/kind cleanup foo7
/kind question, foo8
/xl

/hold
/hold foo

/lifecycle icebox rotten
/close
/close fo

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc Command /cla is not allowed for issue but only for pullrequest.

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc Command /cla is not allowed for issue but only for pullrequest.

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc Command /hold does not have any arguments.

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc Command /close does not have any arguments.

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc Command /reopen does not have any arguments.

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc Command /plan lacks new milestone.

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc Command /plan called with unknown milestone.

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc Command /plan has too many arguments, but requires exactly one, the new milestone.

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc
<img src="https://source.unsplash.com/collection/981639/640x614">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc, @vlerenc
<img src="https://source.unsplash.com/collection/981639/640x454">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:12] gardener-botmanager commented on #40
@fooimpossiblenamethatnobodyhasperiod, @barimpossiblenamethatnobodyhasperiod
<img src="https://source.unsplash.com/collection/981639/640x491">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x511">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc, @vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x521">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:12] gardener-botmanager commented on #40
@fooimpossiblenamethatnobodyhasperiod, @barimpossiblenamethatnobodyhasperiod
<img src="https://source.unsplash.com/collection/1120118/640x468">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc Command /title lacks new title.

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 16:12] gardener-botmanager commented on #40
@vlerenc Labels kind/foo1, kind/foo2, kind/foo3, kind/foo4, kind/foo5, kind/foo6, kind/foo7, kind/foo8 do not exist.

[2020-05-27 16:22] vlerenc commented on #40
/assign
/assign @vlerenc, vlerenc
/assign @fooimpossiblenamethatnobodyhasperiod @barimpossiblenamethatnobodyhasperiod

/cla
/cla foo

/help
/help foo

/add kind/epic kind/foo1
/add kind/poc, kind/foo2
/add kind task foo3
/add kind test, foo4
/kind/regression kind/foo5
/kind/impediment, kind/foo6
/kind cleanup foo7
/kind question, foo8
/xl

/hold
/hold foo

/lifecycle icebox rotten
/close
/close fo

[2020-05-27 16:22] gardener-botmanager commented on #40
@vlerenc Command /cla is not allowed for issue but only for pullrequest.

[2020-05-27 16:22] gardener-botmanager commented on #40
@vlerenc Command /cla is not allowed for issue but only for pullrequest.

[2020-05-27 16:22] gardener-botmanager commented on #40
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 16:23] gardener-botmanager commented on #40
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 16:23] gardener-botmanager commented on #40
@vlerenc Command /hold does not have any arguments.

[2020-05-27 16:23] gardener-botmanager commented on #40
@vlerenc Command /close does not have any arguments.

[2020-05-27 16:23] gardener-botmanager commented on #40
@vlerenc Command /reopen does not have any arguments.

[2020-05-27 16:23] gardener-botmanager commented on #40
@vlerenc Command /plan lacks new milestone.

[2020-05-27 16:23] gardener-botmanager commented on #40
@vlerenc Command /plan called with unknown milestone.

[2020-05-27 16:23] gardener-botmanager commented on #40
@vlerenc Command /plan has too many arguments, but requires exactly one, the new milestone.

[2020-05-27 16:23] gardener-botmanager commented on #40
@vlerenc
<img src="https://source.unsplash.com/collection/981639/640x331">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:23] gardener-botmanager commented on #40
@vlerenc, @vlerenc
<img src="https://source.unsplash.com/collection/981639/640x634">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:23] gardener-botmanager commented on #40
@fooimpossiblenamethatnobodyhasperiod, @barimpossiblenamethatnobodyhasperiod
<img src="https://source.unsplash.com/collection/981639/640x481">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:23] gardener-botmanager commented on #40
@vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x447">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:23] gardener-botmanager commented on #40
@vlerenc, @vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x453">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:23] gardener-botmanager commented on #40
@fooimpossiblenamethatnobodyhasperiod, @barimpossiblenamethatnobodyhasperiod
<img src="https://source.unsplash.com/collection/1120118/640x571">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:23] gardener-botmanager commented on #40
@vlerenc Command /title lacks new title.

[2020-05-27 16:23] gardener-botmanager commented on #40
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 16:23] gardener-botmanager commented on #40
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 16:23] gardener-botmanager commented on #40
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 16:23] gardener-botmanager commented on #40
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 16:23] gardener-botmanager commented on #40
@vlerenc Labels kind/foo1, kind/foo2, kind/foo3, kind/foo4, kind/foo5, kind/foo6, kind/foo7, kind/foo8 do not exist.

[2020-05-27 16:25] gardener-botmanager commented on #40
@vlerenc Command /cla is not allowed for issue but only for pullrequest.

[2020-05-27 16:25] gardener-botmanager commented on #40
@vlerenc Command /cla is not allowed for issue but only for pullrequest.

[2020-05-27 16:25] gardener-botmanager commented on #40
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 16:25] gardener-botmanager commented on #40
@vlerenc Here my list of commands:
<details>
<summary>Man Page</summary>

| Synopsis | What&nbsp;&&nbsp;Who | Description&nbsp;&&nbsp;Examples |
|:----|:----|:----|
|`/assign`&nbsp;`[@user...]`|<sub>Valid for</sub><br/>Issue,<br/>PullRequest<br/><sub>Valid by</sub><br/>Maintainer,<br/>Commenter|Assign given people (or yourself if none specified) to issue or PR. Commenters may only assign themselve

[2020-05-27 16:25] gardener-botmanager commented on #40
@vlerenc Command /unhold does not have any arguments.

[2020-05-27 16:25] gardener-botmanager commented on #40
@vlerenc Command /lgtm does not have any arguments.

[2020-05-27 16:25] gardener-botmanager commented on #40
@vlerenc Command /touch does not have any arguments.

[2020-05-27 16:25] gardener-botmanager commented on #40
@vlerenc Command /unplan does not have any arguments.

[2020-05-27 16:26] gardener-botmanager commented on #40
@vlerenc
<img src="https://source.unsplash.com/collection/981639/640x321">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:26] gardener-botmanager commented on #40
@vlerenc, @vlerenc
<img src="https://source.unsplash.com/collection/981639/640x387">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:26] gardener-botmanager commented on #40
@fooimpossiblenamethatnobodyhasperiod, @barimpossiblenamethatnobodyhasperiod
<img src="https://source.unsplash.com/collection/981639/640x397">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:26] gardener-botmanager commented on #40
@vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x325">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:26] gardener-botmanager commented on #40
@vlerenc, @vlerenc
<img src="https://source.unsplash.com/collection/1120118/640x454">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:26] gardener-botmanager commented on #40
@fooimpossiblenamethatnobodyhasperiod, @barimpossiblenamethatnobodyhasperiod
<img src="https://source.unsplash.com/collection/1120118/640x387">
<details>
<summary>Message</summary>

</details>

[2020-05-27 16:26] gardener-botmanager commented on #40
@vlerenc Command /title lacks new title.

[2020-05-27 16:26] gardener-botmanager commented on #40
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 16:26] gardener-botmanager commented on #40
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 16:26] gardener-botmanager commented on #40
@vlerenc Command /invite is not allowed for issue but only for pullrequest.

[2020-05-27 16:26] gardener-botmanager commented on #40
@vlerenc Command /uninvite is not allowed for issue but only for pullrequest.

[2020-05-27 16:26] gardener-botmanager commented on #40
@vlerenc Command /uninvite is not allowed for issue but only for pullrequest.

[2020-05-27 16:26] gardener-botmanager commented on #40
@vlerenc Command /uninvite is not allowed for issue but only for pullrequest.

[2020-05-27 16:26] gardener-botmanager commented on #40
@vlerenc Labels kind/foo1, kind/foo2, kind/foo3, kind/foo4 do not exist.

[2020-05-28 10:39] vlerenc commented on #40
/gfsd

[2020-05-28 10:39] gardener-botmanager commented on #40
@vlerenc Command /gfsd is not known.

[2020-05-28 10:40] vlerenc commented on #40
/fdgs

[2020-05-28 10:40] gardener-botmanager commented on #40
@vlerenc Command /fdgs is not known.

[2020-05-28 10:42] gardener-botmanager commented on #40
@vlerenc Command /fdgsjkh is not known.

[2020-05-28 10:43] vlerenc commented on #40
/dfgf

[2020-05-28 10:43] gardener-botmanager commented on #40
@vlerenc Command /dfgf is not known.

[2020-05-28 11:33] vlerenc commented on #1
Command `/command` not implemented yet. GitHub doesn't offer a callable mutation (see [here](https://developer.github.com/v4/mutation) and [here](https://github.community/t/no-v3-api-v4-graphql-mutation-to-convert-pr-to-a-draft/115699)) and has exposed this functionality only in the UI so far.

[2020-06-02 06:57] #40 closed

[2020-06-02 06:57] vlerenc opened #48 "new long title"
Source: https://help.github.com/en/github/writing-on-github/autolinked-references-and-urls#issues-and-pull-requests

Allowed ways to refer an issue:
#1
GH-1
gardener/gardener#1
https://github.com/gardener/gardener/issues/1

#9999
GH-9999
gardener/gardener#9999
https://github.com/gardener/gardener/issues/9999

Across-GitHub, only the last form (full link) will be useful/valid/possible.

[2020-06-02 06:59] vlerenc commented on #48
/run/sshd must be owned by root and not group or world-writable.

[2020-06-02 06:59] vlerenc commented on #48
/run/sshd must be owned by root and not group or world-writable.

[2020-06-02 07:02] vlerenc commented on #48
/help

[2020-06-02 07:05] vlerenc commented on #48
//help

[2020-06-02 07:05] vlerenc commented on #48
/run/sshd must be owned by root and not group or world-writable.

[2020-06-02 07:05] vlerenc commented on #48
/kind/bug

[2020-06-02 07:06] vlerenc commented on #48
/kind/discussion

/help

[2020-06-02 07:06] vlerenc commented on #48
[code]

[2020-06-02 08:24] vlerenc commented on #48
/cc @vlerenc

[2020-06-02 08:24] vlerenc commented on #48
/pager-duty

[2020-06-02 08:29] vlerenc commented on #48
/cc

[2020-06-02 08:29] vlerenc commented on #48
/converged-cloud

[2020-06-02 08:29] vlerenc commented on #48
/pager-duty

[2020-06-02 08:31] vlerenc commented on #48
/doese

[2020-06-02 08:47] vlerenc commented on #48
/does

[2020-06-02 08:47] vlerenc commented on #48
/cc g

[2020-06-02 08:47] vlerenc commented on #48
/skip

[2020-06-02 08:48] vlerenc commented on #48
/sgfsdf%d

[2020-06-02 08:48] vlerenc commented on #48
/run/sshd must be owned by root and not group or world-writable.

[2020-06-02 08:48] vlerenc commented on #48
/help

[2020-06-02 08:49] vlerenc commented on #48
/lgtm
[code]
/documentation

[2020-06-02 08:49] vlerenc commented on #48
[code]
/hhhh

[2020-06-02 13:26] vlerenc commented on #48
/help

[2020-06-03 05:03] vlerenc commented on #48
/title new long title   but forget the rest

[2020-06-03 05:04] vlerenc commented on #48
/close hjgsjghfsdhgdfs

[2020-06-03 05:04] vlerenc commented on #48
/open
/assign @gardener-botmanager sdhfgsdf @vlerenc

[2020-06-03 05:32] vlerenc commented on #48
/help

[2020-06-03 05:35] vlerenc commented on #48
/help

[2020-06-03 06:37] vlerenc commented on #48
/help

[2020-06-03 06:37] vlerenc commented on #48
/help

[2020-06-03 06:41] vlerenc commented on #48
/help

[2020-06-03 06:46] vlerenc commented on #48
/help

[2020-06-04 02:54] vlerenc commented on #48
/ping @gardener-attic/team-botmanager

[2020-06-04 02:54] vlerenc commented on #48
/ping @gardener-attic/team-botmanager

[2020-06-04 02:59] vlerenc commented on #48
/ping @gardener-attic/team-botmanager

[2020-06-04 06:17] vlerenc commented on #48
dfsgfdgd

[2020-06-04 06:20] vlerenc commented on #48
sfdfs

[2020-06-04 10:16] vlerenc commented on #48
/help

[2020-06-04 11:48] vlerenc opened #49 "fsgsd"
Please, do not ask questions or expect consulting here.

This repo is only for general landscape or cluster issues.

You can ask your questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

/close

[2020-06-04 11:48] #49 closed

[2020-06-04 12:07] vlerenc opened #50 "erg"
Please, DO NOT suggest or request enhancements here.

This repo is only for general landscape or cluster issues.

You can discuss enhancement requests on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

Please follow the Slackiquette:
- DO NOT use @channel (there are many hundred members and we listen anyways)
- DO use threads when you can (to avoid spamming the main channel

[2020-06-04 12:08] vlerenc opened #51 "dh"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can ask your questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel (there are many hundred members and we listen anyways)
- DO use threads when you can (to avoid spamming the main channel s

[2020-06-04 12:09] #50 closed

[2020-06-04 12:09] #51 closed

[2020-06-04 12:25] vlerenc opened #52 "bug"
**How to categorize this issue?**

/area TODO
/kind bug
/priority normal

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- Gardener version:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- Others:

[2020-06-04 12:25] vlerenc opened #53 "enhance"
**How to categorize this issue?**

/area TODO
/kind enhancement
/priority normal

**What would you like to be added**:

**Why is this needed**:

[2020-06-04 13:07] vlerenc opened #54 "Broken cluster"
**Which cluster is affected**:

`Project`:   core
`Cluster`:   dosekohl
`Link`:        https://github.com/gardener-attic/bot-test-repo-1/issues/new?labels=kind%2Fquestion&template=questions_consulting.md

**What happened**:
Nothing worked.

**What you expected to happen**:
Everything should work.

**When did it happen or started to happen**:

`Relative`: 3h

**How to reproduce it (as concisely and

[2020-06-04 13:10] vlerenc commented on #54
Help us categorise this issue for faster resolution:

/area metering
/component gardener
/kind regression
/os garden-linux
/platform aws

Assess the priority of your issue:

/priority normal

[2020-06-04 13:12] vlerenc opened #55 "rrtre"
Please, DO NOT suggest or request enhancements here.

This repo is only for general landscape or cluster issues.

You can discuss enhancement requests on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

Please follow the Slackiquette:
- DO NOT use @channel (there are many hundred members and we listen anyways)
- DO use threads when you can (to avoid spamming the main channel

[2020-06-04 13:12] #55 closed

[2020-06-04 13:12] vlerenc opened #56 "fgfdsgf"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can ask your questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel (there are many hundred members and we listen anyways)
- DO use threads when you can (to avoid spamming the main channel s

[2020-06-04 13:12] #56 closed

[2020-06-04 13:14] vlerenc opened #57 "dgfdrtg"
Please, DO NOT suggest or request enhancements here.

This repo is only for general landscape or cluster issues.

You can discuss enhancement requests on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

Please follow the Slackiquette:
- DO NOT use @channel (there are many hundred members and we listen anyways)
- DO use threads when you can (to avoid spamming the main channel

[2020-06-04 13:14] #57 closed

[2020-06-04 13:16] vlerenc opened #58 "general issue"
# What happened?

Nothing good.

## What you expected to happen?

All good.

### How to reproduce it (as concisely and precisely as possible)?

dont know.

**Anything else we need to know**:

No.

**Help us categorise this issue for faster resolution**:

/area               metering
/component   gardener
/kind               regression
/os                  garden-linux
/platform        aws

**Asses

[2020-06-04 13:25] #52 closed

[2020-06-04 13:25] #53 closed

[2020-06-04 13:25] #58 closed

[2020-06-04 13:26] vlerenc opened #59 "cluster issue"
/component                         hvpa

## Which cluster is affected?

`Project`:   dgfdg
`Cluster`:   fdgfds
`Link`:        fdgf

## What happened?

fsdgdfgfd

## What you expected to happen?

fsdgsgd

## When did it happen or started to happen?

`Relative`: 3h

## How would we reproduce it (as concisely and precisely as possible)?

gsffgfs

## Anything else we need to know?

dfsgdfgfd

## Help

[2020-06-04 13:28] vlerenc opened #60 "retrte"
## What happened?

dhdsfhfd

## What you expected to happen?

dfshdfsg

## How would we reproduce it (concisely and precisely)?

sdhgdsfgd

## Anything else we need to know?

dshdfhfs

## Help us categorise this issue for faster resolution:

/area               audit-logging
/component   gardener
/kind               bug
/os                  garden-linux
/platform        alicloud

/priority normal

[2020-06-04 13:32] #60 closed

[2020-06-08 02:53] vlerenc commented on #48
/duplicate

[2020-06-08 03:12] vlerenc commented on #48
/area               audit-logging auto-scaling backup certification control-plane cost delivery disaster-recovery documentation high-availability logging metering monitoring networking os performance quality security storage usability user-management

[2020-06-08 04:10] vlerenc commented on #48
/duplicate

[2020-06-08 04:10] vlerenc commented on #48
/duplicate 4253

[2020-06-08 04:11] vlerenc commented on #48
/duplicate #4253

[2020-06-08 04:16] vlerenc commented on #48
/duplicate #4253

[2020-06-08 04:32] vlerenc commented on #48
/duplicate #4253

[2020-06-08 04:59] vlerenc commented on #48
/duplicate

[2020-06-08 04:59] vlerenc commented on #48
/duplicate sdgdjhfjd

[2020-06-08 05:00] vlerenc commented on #48
/duplicate #1234

[2020-06-08 05:01] vlerenc commented on #48
/duplicate foooooooooooo/barrrrrrrrrrrrr#1234

[2020-06-08 05:05] vlerenc commented on #48
/duplicate foooooooooooo/barrrrrrrrrrrrr#1234

[2020-06-08 05:06] vlerenc commented on #48
/duplicate foooooooooooo/barrrrrrrrrrrrr#1234

[2020-06-08 05:08] vlerenc commented on #48
/duplicate foooooooooooo/barrrrrrrrrrrrr#1234

[2020-06-08 05:09] vlerenc commented on #48
/duplicate gardener/barrrrrrrrrrrrr#1234

[2020-06-08 05:10] vlerenc commented on #48
/duplicate
/duplicate nonsense
/duplicate #1234
/duplicate GH-1234
/duplicate nonsense/nonsense#1234
/duplicate gardener/nonsense#1234
/duplicate gardener/dashboard#1234
/duplicate gardener/dashboard#foo

[2020-06-08 05:12] vlerenc commented on #48
/duplicate
/duplicate nonsense
/duplicate #1234
/duplicate GH-1234
/duplicate nonsense/nonsense#1234
/duplicate gardener/nonsense#1234
/duplicate gardener/dashboard#1234
/duplicate gardener/dashboard#foo

[2020-06-08 05:16] vlerenc commented on #48
/duplicate
/duplicate nonsense
/duplicate #1234
/duplicate GH-1234
/duplicate nonsense/nonsense#1234
/duplicate gardener/nonsense#1234
/duplicate gardener/dashboard#1234
/duplicate gardener/dashboard#foo

[2020-06-08 05:19] vlerenc commented on #48
/duplicate GH-1234

[2020-06-08 05:20] vlerenc commented on #48
/duplicate GH-1234

[2020-06-08 05:20] vlerenc commented on #48
gh-1
GH-1

[2020-06-08 05:20] vlerenc commented on #48
/duplicate https://github.com/gardener-attic/bot-test-repo-1/issues/47

[2020-06-08 05:25] vlerenc commented on #48
/duplicate https://github.com/gardener-attic/bot-test-repo-1/issues/47

[2020-06-08 05:30] vlerenc commented on #48
/duplicate https://github.com/gardener-attic/bot-test-repo-1/issues/47777

[2020-06-08 05:30] vlerenc commented on #48
/duplicate https://github.com/gardener-attic/bot-test-repo-1/issues/47

[2020-06-08 05:31] vlerenc commented on #48
/duplicate https://github.cssom/gardener-attic/bot-test-repo-1/issues/47

[2020-06-08 05:32] vlerenc commented on #48
/duplicate https://github.cssom/gardener-attic/bot-test-repo-1/issues/47

[2020-06-08 05:34] vlerenc commented on #48
/duplicate https://github.cssom/gardener-attic/bot-test-repo-1/issues/47

[2020-06-08 05:34] vlerenc commented on #48
/duplicate https://github.cssom/gardener-attic/bot-test-repo-1/issues/47

[2020-06-08 05:35] vlerenc commented on #48
/duplicate https://github.wdf.sap.corp/gardener-attic/bot-test-repo-1/issues/47

[2020-06-08 05:39] vlerenc commented on #48
/duplicate https://github.com/gardener-attic/bot-test-repo-1/issues/47

[2020-06-08 07:22] vlerenc commented on #48
/duplicate #47

[2020-06-08 07:24] vlerenc commented on #48
/duplicate #47

[2020-06-08 07:24] vlerenc commented on #48
/duplicate #47

[2020-06-08 07:46] vlerenc commented on #48
/duplicate
/duplicate nonsense
/duplicate #1234
/duplicate GH-1234
/duplicate nonsense/nonsense#1234
/duplicate gardener/nonsense#1234
/duplicate gardener/dashboard#1234
/duplicate gardener/dashboard#foo
/duplicate #47
/duplicate Gh-47
/duplicate gardener-attic/bot-test-repo-1#47
/duplicate https://github.com/gardener-attic/bot-test-repo-1/issues/47
/duplicate https://github.com/gardener-attic/bot

[2020-06-08 07:48] vlerenc commented on #48
/duplicate #47

[2020-06-08 07:49] vlerenc commented on #48
/duplicate #47

[2020-06-08 07:52] vlerenc commented on #48
/duplicate #47

[2020-06-08 08:01] vlerenc commented on #48
/duplicate #47

[2020-06-08 08:04] vlerenc commented on #48
/duplicate #47

[2020-06-08 08:06] vlerenc commented on #48
/duplicate #47

[2020-06-08 08:08] vlerenc commented on #48
/duplicate #47

[2020-06-08 08:19] vlerenc commented on #48
/duplicate #47

[2020-06-08 08:20] #48 closed

[2020-06-08 08:20] vlerenc commented on #48
/duplicate #47

[2020-06-08 08:25] vlerenc commented on #48
/area audit-logging auto-scaling backup certification control-plane cost delivery disaster-recovery documentation high-availability logging metering monitoring networking os performance quality security storage usability user-management

[2020-06-08 09:32] vlerenc commented on #48
/duplicate #47

[2020-06-08 12:02] vlerenc commented on #48
No problem.

[2020-06-08 12:02] vlerenc commented on #48
Sure http://foo.sap problem.

[2020-06-08 12:15] vlerenc commented on #48
Sure http://foo.sap problem.

[2020-06-08 12:16] vlerenc commented on #48
No problem.

[2020-06-08 12:36] vlerenc commented on #48
/lgtm
/help

[2020-06-08 12:41] vlerenc commented on #48
/hold

[2020-06-08 13:40] vlerenc opened #65 "sdf"
## What happened?

## What you expected to happen?

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certification control-plane cost delivery disaster-recovery documentation high-availability logging metering monitoring networking os performance

[2020-06-08 13:49] vlerenc opened #66 "b"

[2020-06-08 14:02] vlerenc opened #67 "r"
/help

[2020-06-08 14:04] vlerenc opened #68 "df"
/help
http://foo.sap

[2020-06-08 14:24] vlerenc opened #69 "ewrwe"

[2020-06-08 14:24] vlerenc opened #70 "dsfd"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certi

[2020-06-08 14:56] vlerenc opened #72 "fgsgd"
## What happened?

## What you expected to happen?

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certification control-plane cost delivery disaster-recovery documentation high-availability logging metering monitoring networking os performance

[2020-06-08 14:58] vlerenc opened #74 "sd"
/help

[2020-06-08 14:58] #59 closed

[2020-06-08 14:58] #65 closed

[2020-06-08 14:58] #66 closed

[2020-06-08 14:58] #67 closed

[2020-06-08 14:58] #68 closed

[2020-06-08 14:58] #69 closed

[2020-06-08 14:58] #70 closed

[2020-06-08 14:58] #72 closed

[2020-06-08 14:58] #74 closed

[2020-06-09 03:58] vlerenc commented on #48
/os garden-linux

[2020-06-09 04:01] vlerenc commented on #48
/os                        garden-linux

[2020-06-09 04:51] vlerenc commented on #48
/duplicate #47

[2020-06-09 04:57] vlerenc commented on #48
/duplicate #47

[2020-06-09 05:38] vlerenc opened #75 "sdfdfd"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certi

[2020-06-09 05:41] #75 closed

[2020-06-09 05:41] vlerenc opened #77 "rtwe"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certi

[2020-06-09 05:44] #77 closed

[2020-06-09 05:44] vlerenc opened #79 "jj"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certi

[2020-06-09 05:46] #79 closed

[2020-06-09 06:49] vlerenc opened #80 "retwertw"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certi

[2020-06-09 06:49] #80 closed

[2020-06-09 06:50] vlerenc opened #81 "erterwt"

[2020-06-09 07:43] vlerenc opened #82 "f"

[2020-06-09 07:43] vlerenc opened #83 "rrr"

[2020-06-09 07:45] vlerenc opened #84 "ddd"

[2020-06-09 07:56] vlerenc opened #85 "grtrw"
/lgtm
foo http://foo.sap
/close
/help

[2020-06-09 07:56] #85 closed

[2020-06-09 08:05] #81 closed

[2020-06-09 08:05] #82 closed

[2020-06-09 08:05] #83 closed

[2020-06-09 08:05] #84 closed

[2020-06-09 09:24] vlerenc opened #86 "dfgdfg"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2020-06-09 09:24] #86 closed

[2020-06-09 12:02] vlerenc opened #87 "New Issue"
Content

[2020-06-09 12:02] vlerenc commented on #87
New Comment

[2020-06-09 14:48] #87 closed

[2020-06-10 09:25] vlerenc opened #90 "dsfds"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certi

[2020-06-10 09:32] vlerenc opened #91 "iyyiuy"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2020-06-10 09:33] vlerenc opened #92 "kjlkjkj"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2020-06-10 09:33] #92 closed

[2020-06-10 09:33] vlerenc opened #93 "ioijo"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certi

[2020-06-10 09:34] vlerenc opened #94 "hiuh"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2020-06-10 09:34] #94 closed

[2020-06-10 09:35] vlerenc opened #95 "jkjl"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2020-06-10 09:36] #95 closed

[2020-06-10 09:36] vlerenc opened #96 "pioi"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certi

[2020-06-14 14:09] vlerenc opened #97 "retert"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certi

[2020-06-14 14:10] vlerenc opened #98 "rtwrt"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certi

[2020-06-15 06:08] #97 closed

[2020-06-15 06:08] #98 closed

[2020-06-16 14:51] vlerenc opened #99 "new title"
/assign
/cla
/duplicate #1
/help
/bug
/kind enhancement
/xl
/xs
/lgtm
/touch
/milestone 2021-q4
/ping
/invite
/title new title
/close because I feel like it

[2020-06-16 14:51] #99 closed

[2020-06-16 14:53] vlerenc commented on #99
/cla
/invite

[2020-06-16 15:21] vlerenc commented on #1
/duplicate #100

[2020-06-16 15:25] vlerenc commented on #1
/duplicate #100

[2020-06-16 15:32] vlerenc commented on #1
/duplicate #100

[2020-06-16 15:38] vlerenc commented on #1
/duplicate #1

[2020-06-16 15:55] vlerenc opened #102 "sdfgfs"
**What would you like to be added**:

**Why is this needed**:

[2020-06-16 15:55] vlerenc commented on #102
/close

[2020-06-16 15:55] #102 closed

[2020-06-16 16:09] vlerenc opened #104 "ewrtrt"
**What would you like to be added**:

**Why is this needed**:

[2020-06-16 16:10] #104 closed

[2020-06-16 16:11] vlerenc opened #106 "rewqre"
**What would you like to be added**:

**Why is this needed**:

[2020-06-16 16:11] #106 closed

[2020-06-18 05:12] gardener-botmanager opened #108 "f"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:
/lgtm

[2020-06-18 05:12] gardener-botmanager commented on #108
/invite @d043832

[2020-06-18 05:13] gardener-botmanager commented on #108
/topology/shoot

[2020-06-18 05:13] gardener-botmanager commented on #108
/help

[2020-06-18 05:13] gardener-botmanager commented on #108
/topology/shoot

[2020-06-18 05:14] gardener-botmanager commented on #108
/assign @d043832

[2020-06-18 05:15] gardener-botmanager commented on #108
/enhancement

[2020-06-18 05:16] gardener-botmanager commented on #108
/assign vlerenc

[2020-06-18 05:16] gardener-botmanager commented on #108
/assign @vlerenc

[2020-06-18 05:17] gardener-botmanager commented on #108
/unassign @vlerenc

[2020-06-18 05:17] gardener-botmanager commented on #108
https://github.tools.sap/kubernetes/gardener-robot/issues/1

[2020-06-18 05:19] gardener-botmanager commented on #108
/topology/shoot

[2020-06-18 05:19] gardener-botmanager commented on #108
/shoot

[2020-06-18 05:21] gardener-botmanager commented on #108
/topology shoot

[2020-06-18 05:21] gardener-botmanager commented on #108
/topology/shoot

[2020-06-18 05:25] gardener-botmanager commented on #108
/topology/garden

[2020-06-18 05:25] gardener-botmanager commented on #108
/size/xl

[2020-06-18 05:27] gardener-botmanager commented on #108
/size/xl

[2020-06-18 05:28] gardener-botmanager commented on #108
/size/xl

[2020-06-18 05:29] gardener-botmanager commented on #108
/size/xl

[2020-06-18 05:29] gardener-botmanager commented on #108
/xs

[2020-06-18 05:29] gardener-botmanager commented on #108
/size m

[2020-06-18 05:30] gardener-botmanager commented on #108
/kind regression

[2020-06-18 05:31] gardener-botmanager commented on #108
/close

[2020-06-19 10:45] vlerenc commented on #108
/reopen

[2020-06-19 10:45] vlerenc commented on #108
/close

[2020-06-19 10:45] vlerenc commented on #108
/reopen

[2020-06-19 10:46] #108 closed

[2020-06-20 05:32] vlerenc commented on #106
/diag

[2020-06-20 05:32] vlerenc commented on #106
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden/shoots/alicloud/

[2020-06-23 11:18] vlerenc commented on #106
/reviewed ok-to-test

[2020-06-24 16:19] vlerenc opened #110 "gsfgsfgs"

[2020-06-24 16:20] vlerenc commented on #110
/diag

[2020-06-24 16:20] vlerenc commented on #110
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-24 16:21] vlerenc commented on #110
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc

[2020-06-24 16:23] vlerenc commented on #110
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc

[2020-06-24 16:23] vlerenc commented on #110
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 16:23] vlerenc commented on #110
/diag httpppp

[2020-06-24 16:28] #110 closed

[2020-06-25 11:19] vlerenc commented on #110
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden/shoots/atos01/

[2020-06-25 11:26] vlerenc commented on #110
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden/shoots/atos01/

[2020-06-26 12:33] vlerenc commented on #110
/diag

[2020-06-26 14:19] vlerenc commented on #110
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden/shoots/aws/
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden/shoots/az
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden/shoots/ccee-m3

[2020-06-29 13:01] vlerenc opened #114 "were"
**What would you like to be added**:
/bug
**Why is this needed**:
/lgtm
/close

[2020-06-29 13:01] #114 closed

[2020-07-07 08:09] vlerenc opened #116 "fsdfds"
/area control-plane-migration
/kind enhancement
/priority normal

[2020-09-30 14:47] #54 closed

[2020-12-02 09:08] vlerenc commented on #116
When debugging ccloud issues, we sometimes use openstack to analyze resources in the customers accounts.
However sometimes it's necessary to check the auditlogs as well. CCloud colleagues have a CLI for this called hermesctl, see https://github.com/sapcc/hermes-ctl
We'd need support from gardenctl to execute hermesctl also for openstack clusters.

[2020-12-02 09:08] vlerenc commented on #116
When debugging ccloud issues, we sometimes use openstack to analyze resources in the customers accounts.
However sometimes it's necessary to check the auditlogs as well. CCloud colleagues have a CLI for this called hermesctl, see https://github.com.sap/cc/hermes-ctl
We'd need support from gardenctl to execute hermesctl also for openstack clusters.

[2020-12-21 04:39] vlerenc commented on #116
aaa http://something.sap.com anything

[2020-12-21 04:40] vlerenc commented on #116
aaa http://something.sap (restricted access) anything

[2020-12-21 04:46] vlerenc commented on #116
aaa http://something.sap (restricted access) anything

[2020-12-21 04:58] vlerenc commented on #116
Ping user to take a look at issue or PR (like [`/honk` in prow](https://github.com/kubernetes/test-infra/blob/master/prow/plugins/goose/goose.go)).

[2020-12-21 04:59] vlerenc commented on #116
/ping

[2020-12-21 04:59] vlerenc commented on #116
/honk

[2020-12-21 05:05] vlerenc commented on #116
/honk

[2020-12-21 05:05] vlerenc commented on #116
/bark

[2020-12-22 06:52] vlerenc commented on #116
/help

[2020-12-22 06:54] vlerenc commented on #116
`/command`

[2020-12-23 04:21] vlerenc commented on #116
/invite roadmap/team-internall

[2020-12-23 04:21] vlerenc commented on #116
/assign roadmap/team-internall

[2020-12-23 04:24] vlerenc commented on #116
/unassign roadmap/team-internal

[2020-12-23 08:24] vlerenc commented on #116
/help

[2020-12-23 08:37] vlerenc commented on #116
/help

[2020-12-24 05:49] vlerenc commented on #116
/ping

[2020-12-24 05:49] vlerenc commented on #116
/ping roadmap/team-internal

[2020-12-24 05:52] vlerenc commented on #116
/honk

[2020-12-24 05:54] vlerenc commented on #116
/ping

[2020-12-24 06:01] vlerenc commented on #116
/ping Progress?

[2020-12-24 06:03] vlerenc commented on #116
/ping

[2020-12-24 06:04] vlerenc commented on #116
/ping @d043832 dsf

[2020-12-24 06:28] vlerenc commented on #116
/honk roadma/team-internal fdgsdf

[2020-12-28 08:20] vlerenc commented on #116
/assign roadmap/team-internal

[2020-12-28 08:25] vlerenc commented on #116
/duplicate https://github.tools.sap/kubernetes/gardener-robot/issues/56

[2020-12-28 08:33] vlerenc commented on #116
/duplicate https://github.tools.sap/kubernetes/gardener-robot/issues/17

[2020-12-29 05:33] vlerenc commented on #116
/remove duplicate
/help

[2020-12-29 08:08] vlerenc commented on #116
/assign @d043832

[2020-12-29 08:08] vlerenc commented on #116
/assign d043832

[2020-12-29 08:08] vlerenc commented on #116
/unassign @vlerenc

[2020-12-30 05:18] vlerenc commented on #116
/help

[2021-01-26 05:55] vlerenc commented on #116
gfd

[2021-02-11 05:48] vlerenc commented on #116
asdsa

[2021-02-11 06:05] vlerenc commented on #116
adas

[2021-02-11 06:09] vlerenc opened #159 "sss"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:

[2021-02-11 06:42] #159 closed

[2021-02-11 07:21] vlerenc commented on #159
sdf

[2021-02-11 07:38] vlerenc opened #160 "sdfdafd"
**What would you like to be added**:

**Why is this needed**:

[2021-02-11 07:38] #160 closed

[2021-02-11 07:39] vlerenc commented on #160
sss

[2021-02-11 11:21] vlerenc commented on #116
ghdfhf

[2021-02-11 11:30] vlerenc commented on #116
sdfd

[2021-02-11 11:49] vlerenc opened #164 "Bug about nothing"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:

[2021-02-11 11:49] vlerenc commented on #164
Does nothing.

[2021-02-12 14:12] #164 closed

[2021-02-12 14:42] vlerenc commented on #116
vdfdgd

[2021-02-12 14:48] vlerenc commented on #116
fgsdfd

[2021-02-14 04:55] vlerenc opened #166 "dfgdf"
**What would you like to be added**:

**Why is this needed**:

[2021-02-14 04:58] vlerenc opened #167 "dfgdf"
**What would you like to be added**:

**Why is this needed**:

[2021-02-14 04:59] vlerenc opened #168 "ghg"
**What would you like to be added**:

**Why is this needed**:

[2021-02-14 04:59] #168 closed

[2021-02-16 04:19] vlerenc opened #171 "ddd"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:

[2021-02-16 04:46] neo-liang-sap commented on #171
testing mentioning an internal issue - https://github.wdf.sap.corp/kubernetes-live/landscape-live-garden/issues/7777

[2021-02-16 04:50] neo-liang-sap commented on #171
testing mentioning an internal issue - https://github.wdf.sap.corp/kubernetes-live/landscape-live-garden/issues/7777

[2021-02-16 04:53] neo-liang-sap commented on #171
https://github.wdf.sap.corp/kubernetes-live/landscape-live-garden/issues/7777

[2021-02-16 05:14] #171 closed

[2021-02-16 13:19] vlerenc commented on #116
hello

[2021-02-16 13:20] vlerenc commented on #116
gdfg

[2021-02-24 05:01] vlerenc commented on #116
/author-action

[2021-02-24 13:15] vlerenc commented on #116
/help

[2021-03-02 03:22] vlerenc commented on #116
comment

[2021-03-18 02:37] neo-liang-sap commented on #116
/milestone 2021-q1

[2021-03-18 02:39] neo-liang-sap commented on #116
/unplan 2021-q1

[2021-03-18 02:39] neo-liang-sap commented on #116
/plan 2021-q1

[2021-03-18 02:40] neo-liang-sap commented on #116
/schedule 2021-q1

[2021-03-18 02:40] neo-liang-sap commented on #116
/unschedule 2021-q1

[2021-03-18 05:16] neo-liang-sap commented on #116
/milestone 2021-q1

[2021-03-18 05:17] neo-liang-sap commented on #116
/unmilestone 2021-q1

[2021-03-22 13:33] vlerenc commented on #116
/help

[2021-03-24 16:04] vlerenc commented on #116
/help

[2022-04-25 12:10] vlerenc commented on #116
/duplicate https://github.tools.sap/kubernetes/issues/issues/3

[2022-04-29 12:13] vlerenc opened #182 "dvz"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:

[2022-04-29 12:13] vlerenc commented on #182
/close

[2022-04-29 12:15] vlerenc commented on #182
/close

[2022-04-29 12:18] vlerenc commented on #182
/close

[2022-04-29 12:19] vlerenc commented on #182
/reopen

[2022-04-29 12:20] vlerenc commented on #182
/reopen

[2022-04-29 12:21] vlerenc commented on #182
/reopen

[2022-04-29 12:27] #182 closed, assigned to nobody

[2022-05-17 15:18] vlerenc commented on #116
https://github.wdf.sap.corp/kubernetes/auditlog-extension/issues/344

[2022-07-11 08:12] vlerenc opened #183 "delete-me"
# Acceptance Criteria
- [x] Milestone 1: MVP supporting A, B, and C
  <details>
  <summary>Tasks</summary>

  - [x] Let's do this
  - [x] And that, too
  - [x] ...

  </details>
- [ ] Milestone 2: Feature-Completeness supporting also D, E, and F
  <details>
  <summary>Tasks</summary>

  - [x] Now let's do this
  - [ ] And finally that, too
  - [ ] ...

  </details>
- [x] ...

[2022-07-11 08:13] #183 closed, assigned to nobody

[2022-10-26 15:21] etiennnr opened #184 "testing PR 296"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:

[2022-10-26 15:21] etiennnr commented on #184
/need-help area/sre

[2022-10-26 15:26] etiennnr commented on #184
/need-help area/sre

[2022-10-26 15:28] etiennnr commented on #184
/need-help area/sre

[2022-10-26 15:31] etiennnr commented on #184
/need-help area/sre

[2022-10-26 15:34] etiennnr commented on #184
/need-help area/sre

[2022-10-26 15:36] etiennnr commented on #184
/need-help area/sre

[2022-10-26 15:37] etiennnr commented on #184
/need-help area/sre

[2022-10-26 15:40] etiennnr commented on #184
/need-help area/sre

[2022-10-26 15:41] etiennnr commented on #184
/need-help area/sre

[2022-10-26 15:44] etiennnr commented on #184
/need-help area/sre

[2022-10-26 16:00] etiennnr commented on #184
/need-help area/sre

[2022-10-26 16:02] etiennnr commented on #184
/need-help area/sre Please ignore neo :)

[2022-10-26 16:06] etiennnr commented on #184
/need-help area/sre testing again

[2022-10-26 16:06] etiennnr commented on #184
/need-help area/sre and again

[2022-10-26 17:16] etiennnr commented on #184
/neep-help sorry for disturbing owners

[2022-10-26 17:16] etiennnr commented on #184
/need-help sorry for disturbing owners

[2022-10-26 17:19] etiennnr commented on #184
/need-help sorry for disturbing owners

[2022-10-26 17:40] etiennnr commented on #184
/ping

[2022-10-26 17:41] etiennnr commented on #184
/ping pong

[2022-10-26 17:42] etiennnr commented on #184
/ping @etiennnr

[2022-10-26 17:42] etiennnr commented on #184
/ping area/sre

[2022-10-26 17:58] etiennnr commented on #184
/ping @etiennnr

[2022-10-26 17:58] etiennnr commented on #184
/ping

[2022-10-26 17:59] etiennnr commented on #184
/ping area/sre

[2022-10-26 18:05] #184 closed, assigned to nobody

[2022-10-27 14:47] etiennnr commented on #184
/ping @etiennnr

[2022-10-27 16:51] etiennnr commented on #184
/need-help area/sre Sorry for the honk guys, last one!

[2022-10-31 20:14] etiennnr opened #185 "test"
**What would you like to be added**:
test

**Why is this needed**:
test

[2022-10-31 20:19] #185 closed, assigned to nobody

[2022-10-31 20:20] etiennnr opened #186 "test2"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:

[2022-10-31 20:25] #186 closed, assigned to nobody

[2022-10-31 20:28] etiennnr opened #187 "test 3"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:

[2022-10-31 20:31] #187 closed, assigned to nobody

[2022-10-31 20:31] etiennnr opened #188 "test 4"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:

[2022-10-31 20:32] #188 closed, assigned to nobody

[2022-10-31 20:32] etiennnr opened #189 "test 5"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:

[2022-10-31 20:33] #189 closed, assigned to nobody

[2022-11-01 14:52] etiennnr opened #190 "test 22"
**What would you like to be added**:

**Why is this needed**:

[2022-11-01 14:52] #190 closed, assigned to nobody

[2022-11-04 18:54] etiennnr opened #191 "test 123"
https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-core/shoots/i558087-test/

**What would you like to be added**:

**Why is this needed**:

[2022-11-04 18:55] #191 closed, assigned to nobody

[2022-11-04 18:55] etiennnr opened #192 "test 1234"
**What would you like to be added**:

**Why is this needed**:

[2022-11-04 18:58] etiennnr commented on #192
/status owner-action

[2022-11-04 18:58] etiennnr commented on #192
/owner-action

[2022-11-04 18:59] etiennnr commented on #192
/author-action

[2022-11-04 18:59] etiennnr commented on #192
/external-action

[2022-11-04 19:01] etiennnr commented on #192
/close

[2022-11-04 19:01] #192 closed, assigned to nobody

[2022-11-14 06:23] neo-liang-sap opened #193 "aaa"
**What would you like to be added**:

**Why is this needed**:
aaa

[2022-11-14 06:23] neo-liang-sap commented on #193
/ping @liangrong1984 can you check?